@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #303030;
}

#page {
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
  "d d d . b b b "
  "d d d . b b b "
  "c c c c c c c "
  "c c c c c c c "
  "c c c c c c c ";
  /* grid-template-rows: 100px 1fr 30px; */
  /* grid-template-columns: 150px 1fr; */
  grid-template-rows: auto;
  grid-template-columns: auto;
}

#page > drop {
  border: 2px solid #fff;
  border-radius: 5px;
  height: 150px;
  width: 400px;
  grid-area: d;
  background-color: #8ca0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
}

#page > bottons {
  border: 2px solid #fff;
  border-radius: 5px;
  height: 150px;
  width: 400px;
  grid-area: b;
  background-color: #ffa08c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#page > console {
  border: 2px dashed #fff;
  border-radius: 5px;
  height: 400px;
  width: 850px;
  grid-area: c;
  background-color: #000000;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 3%;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
}

/* Cloud Icon */
.drag-area .icon{
  padding-left: 37.5%;
  padding-top: 5%;
  font-size: 45px;
  color: #fff;
  justify-self: center;
}

.drag-area header{
padding-bottom: 4%;
}

/* ???? */
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* OR icon */
.drag-area span{
  padding-left: 17%;
  padding-right: 2%;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

/* Header scritta */
.drag-area header{
  padding-top: 3%;
  font-weight: 500;
  color: #fff;
}

/* Bottone "Brose file" */
.drag-area button{
  padding: 5px 15px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10%;
}

.bottons-area button{
  padding: 5px 10px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

.filename{
  height: auto;
  width: auto;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 25px;
}